* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero {
    background-color: #1F2937;
    padding-left: 5%;
    padding-bottom: 8%;
    padding-top: 5%;
    padding-right: 5%;
    flex: 1;
    display: flex;
    justify-content: space-around;
    
}

.information {
    display: flex;

}

section#image {
    background-color: gray;
    padding: 5%;
}


h1 {
color: #F9FAF8;
font-size: 48px;
font-weight: bolder;

}


p {
    color: #f9faf889;
}

button {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: 500;
    color: #F9FAF8;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}


h2 {
    text-align: center;
    font-size: 36px;

}

h4 {
    text-align: center;
    font-size: 16px;
    color: #F9FAF8;
    font-weight: 100;
}